# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
        大部分任务的奖励都是自动领取，请确保背包有足够的空间。
        神秘农业，不再神秘
        AE和RS可以联动成AS
        每食用10种不同的食物可以增加5滴血
        潘马斯很有帮助(划掉)没有潘马斯
        这只是一条没有用提示
        可以用岩浆把污染冲掉，用其他流体的话，污染可能会跑回到地上
        如果FTB商店的钱卡了(变成了0)可以使用/pay 你的名字 1 来进行刷新
        由于失误，不小心吧基岩棍的ID打成了badrock[说白了就是懒得改了]
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


