# Configuration file

abyssalcraft {
    I:abyssalnite=0
    I:coralium=0
    I:dreadium=0
}


"actually additions" {
    I:black_quartz=0
}


"applied energistics 2" {
    I:certus_quartz=0
    I:fluix=0
    I:press=0
    I:sky_stone=0
}


"ars magica 2" {
    I:blue_topaz=0
    I:chimerite=0
    I:moonstone=0
    I:sunstone=0
    I:vinteum=0
}


"astral sorcery" {
    I:aquamarine=0
    I:marble=0
    I:rock_crystal=0
    I:starmetal=0
}


"base metals" {
    I:adamantine=0
    I:aquarium=0
    I:cold_iron=0
    I:star_steel=0
}


"biomes 'o plenty" {
    I:ender_amethyst=0
}


botania {
    I:elementium=0
    I:manasteel=0
    I:mystical_flower=0
    I:terrasteel=0
}


chisel {
    I:basalt=0
    I:limestone=0
    I:marble=0
}


"common resources" {
    I:andesite=0
    I:apple=8
    I:beetroot=0
    I:cactus=0
    I:carrot=0
    I:chiseled_stonebrick=0
    I:chorus_fruit=0
    I:clay=0
    I:coarse_dirt=0
    I:cobblestone=0
    I:cocoa_beans=0
    I:cracked_stonebrick=0
    I:diorite=0
    I:dirt=0
    I:dye=16
    I:end_stone=0
    I:flint=0
    I:granite=0
    I:grass=0
    I:gravel=0
    I:ice=0
    B:lava_bucket=false
    I:lilypad=0
    I:melon=0
    I:mossy_cobblestone=0
    I:mossy_stonebrick=0
    I:mushroom=0
    I:mycelium=0
    I:nether_brick=0
    I:nether_wart=0
    I:netherrack=0
    I:packed_ice=0
    I:podzol=0
    I:poisonous_potato=0
    I:potato=0
    I:pumpkin=0
    I:purpur_block=0
    I:sand=0
    I:sapling=0
    I:snow=0
    I:soul_sand=0
    I:stone=0
    I:sugarcane=0
    I:vines=0
    B:water_bucket=false
    I:wheat=0
    I:wood=0
}


"draconic evolution" {
    I:draconium=0
}


embers {
    I:dawnstone=0
}


"ender io" {
    I:conductive_iron=0
    I:dark_steel=0
    I:electrical_steel=0
    I:end_steel=0
    I:energetic_alloy=0
    I:grains_of_infinity=0
    I:pulsating_iron=0
    I:redstone_alloy=0
    I:soularium=0
    I:vibrant_alloy=0
}


erebus {
    I:jade=0
}


evilcraft {
    I:dark_gem=0
}


"extreme reactors" {
    I:yellorium=0
}


forestry {
    I:apatite=0
}


galacticraft {
    I:desh=0
    I:meteoric_iron=0
}


gems {
    I:amber=0
    I:malachite=0
    I:peridot=0
    I:ruby=0
    I:sapphire=0
    I:tanzanite=0
    I:topaz=0
}


ic2 {
    I:iridium_ore=0
    I:uranium_238=0
}


"immersive engineering" {
    I:hop_graphite=0
}


"integrated dynamics" {
    I:menril_berry=0
    I:menril_log=0
    I:menril_sapling=0
}


"matter overdrive" {
    I:dilithium=0
    I:tritanium=0
}


mekanism {
    I:glowstone_ingot=0
    I:osmium=0
    I:refined_obsidian=0
}


"mob drops" {
    I:arrow=0
    I:beef=0
    I:blaze_rod=0
    I:bone=0
    I:chicken=0
    I:creeper_head=0
    I:egg=0
    I:ender_pearl=0
    I:feather=0
    I:fish=0
    I:ghast_tear=0
    I:gunpowder=0
    I:leather=0
    B:milk_bucket=false
    I:mutton=0
    I:pork=4
    I:prismarine_crystal=0
    I:prismarine_shard=0
    I:rabbit=0
    I:rabbit_foot=0
    I:rabbit_hide=0
    B:record=false
    I:rotten_flesh=0
    I:skeleton_skull=0
    I:slime_ball=0
    I:spider_eye=0
    I:string=0
    I:wither_skeleton_skull=0
    I:wool=0
    I:zombie_head=0
}


nuclearcraft {
    I:boron=0
    I:lithium=0
    I:magnesium=0
    I:thorium=0
}


"oredict resources" {
    I:aluminum=0
    I:brass=0
    I:bronze=0
    I:chrome=0
    I:constantan=0
    I:copper=0
    I:electrum=0
    I:graphite=0
    I:invar=0
    I:iridium=0
    I:lead=0
    I:mithril=0
    I:nickel=0
    I:platinum=0
    I:rubber=0
    I:saltpeter=0
    I:silicon=0
    I:silver=0
    I:steel=0
    I:sulfur=0
    I:tin=0
    I:titanium=0
    I:tungsten=0
    I:uranium=0
    I:zinc=0
}


plustic {
    I:alumite=0
}


pneumaticcraft {
    I:compressed_iron=0
}


"project red" {
    I:electrotine=0
}


qyark {
    I:biotite=0
}


"rare resources" {
    I:coal=0
    I:diamond=0
    I:emerald=0
    I:experience_droplet=0
    I:glowstone=0
    I:gold=0
    I:iron=0
    I:lapis=0
    I:obsidian=0
    I:quartz=0
    I:redstone=0
}


"redstone arsenal" {
    I:fluxed_electrum=0
}


"refined storage" {
    I:quartz_enriched_iron=0
}


rustic {
    I:slate=0
}


thaumcraft {
    I:quicksilver=0
    I:thaumium=0
    I:void_metal=0
}


"the betweenlands" {
    I:octine=0
    I:slimy_bone=0
    I:sulfur=0
    I:syrmorite=0
    I:valonite=0
}


"thermal foundation" {
    I:basalz=0
    I:blitz=0
    I:blizz=0
    I:enderium=0
    I:lumium=0
    I:signalum=0
}


"tinkers construct" {
    I:aluminum_brass=0
    I:ardite=0
    I:cobalt=0
    I:knightslime=0
    I:manyullyn=0
}


"twilight forest" {
    I:fiery_ingot=0
    I:ironwood=0
    I:knightmetal=0
    I:steeleaf=0
}


